<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body bgcolor="white">
    <h3 align="center">Your Response has been successfully recorded!</h3><br>
    <h3 align="center">Generated ID is :{{p}}</h3><br>
    <h3 align="center">Remember this ID for further proceedings</h3>><br><br>

    <ul style="list-style-type:disc;font-size:15px;">
        <li>Case will be verified by the respective local police soon.</li>
        <li>Investigation will proceed accordingly after verification.</li>
        <li>The police will keep you updated about the case.</li>
        <li>For any help, Call 100. </li>
      </ul>
</body>
</html>